*.suo
*.user
*.userosscache
*.sln.docstates
*.http

*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/
.vscode/

*.[Cc]ache
!*.[Cc]ache/

*.VisualState.xml
**/TestResult.xml

**/publish/

[Aa]pp.config
[Aa]ppsettings*.json
[Aa]ppsettings.*.json

**/package*
front/README.md
front/yarn-error.log
front/node_modules/
